openapi: 3.1.0
info:
  title: MetaDAO Futarchy DEX Meta Supply API
  version: 1.0.0
  description: CoinGecko-compatible DEX API for the MetaDAO Futarchy protocol on Solana. It automatically discovers and aggregates all DAOs from the Futarchy protocol and exposes real-time pricing, trading volume (derived from protocol fees), liquidity, and token supply information. The API is public and read-only, requires no authentication, and is rate limited to 60 requests per minute per IP. Prices are calculated from on-chain spot pool reserves only (not conditional/futarchy markets). This OpenAPI description was generated by the API Evangelist enrichment pipeline from the provider's published API documentation at https://api-docs.metadao.fi (the provider does not publish its own OpenAPI; the openapi.json served by the docs site is the default Mintlify sample). Endpoints, parameters, and response fields are transcribed faithfully from those docs.
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated-from: https://api-docs.metadao.fi/llms.txt
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://market-api.metadao.fi
  description: Public production API
tags:
- name: Supply
  description: Token supply breakdown and allocation
paths:
  /api/supply/{mintAddress}:
    get:
      operationId: getSupply
      tags:
      - Supply
      summary: Complete supply breakdown with allocation details
      description: Returns complete supply information for a token, including circulating supply, team performance package, FutarchyAMM liquidity, and Meteora LP liquidity. For launchpad tokens, circulating supply excludes the team performance package but includes all liquidity.
      parameters:
      - $ref: '#/components/parameters/MintAddress'
      responses:
        '200':
          description: Supply breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/supply/{mintAddress}/total:
    get:
      operationId: getTotalSupply
      tags:
      - Supply
      summary: Total supply only
      description: Returns the total supply for a token as a formatted string.
      parameters:
      - $ref: '#/components/parameters/MintAddress'
      responses:
        '200':
          description: Total supply
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/supply/{mintAddress}/circulating:
    get:
      operationId: getCirculatingSupply
      tags:
      - Supply
      summary: Circulating supply (excludes team performance package)
      description: Returns the circulating supply for a token. Excludes the team performance package; includes FutarchyAMM and Meteora liquidity.
      parameters:
      - $ref: '#/components/parameters/MintAddress'
      responses:
        '200':
          description: Circulating supply
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  responses:
    RateLimited:
      description: Rate limit exceeded (60 requests per minute per IP)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: The requested resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    SupplyResponse:
      type: object
      properties:
        result:
          type: string
          description: The formatted total supply as a string
        data:
          type: object
          properties:
            mint:
              type: string
            totalSupply:
              type: string
            circulatingSupply:
              type: string
    Error:
      type: object
      description: All API errors follow a consistent envelope.
      properties:
        error:
          type: string
          description: Error message describing what went wrong
      required:
      - error
  parameters:
    MintAddress:
      name: mintAddress
      in: path
      required: true
      description: The SPL token mint address (Solana PublicKey).
      schema:
        type: string
      example: METAwkXcqyXKy1AtsSgJ8JiUHwGCafnZL38n3vYmeta
