openapi: 3.1.0
info:
  title: MetaDAO Futarchy DEX Meta Tickers API
  version: 1.0.0
  description: CoinGecko-compatible DEX API for the MetaDAO Futarchy protocol on Solana. It automatically discovers and aggregates all DAOs from the Futarchy protocol and exposes real-time pricing, trading volume (derived from protocol fees), liquidity, and token supply information. The API is public and read-only, requires no authentication, and is rate limited to 60 requests per minute per IP. Prices are calculated from on-chain spot pool reserves only (not conditional/futarchy markets). This OpenAPI description was generated by the API Evangelist enrichment pipeline from the provider's published API documentation at https://api-docs.metadao.fi (the provider does not publish its own OpenAPI; the openapi.json served by the docs site is the default Mintlify sample). Endpoints, parameters, and response fields are transcribed faithfully from those docs.
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated-from: https://api-docs.metadao.fi/llms.txt
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://market-api.metadao.fi
  description: Public production API
tags:
- name: Tickers
  description: DAO trading pairs, pricing, and volume
paths:
  /api/tickers:
    get:
      operationId: getTickers
      tags:
      - Tickers
      summary: All DAO tickers with pricing and volume information
      description: Returns comprehensive trading information for all DAOs discovered in the Futarchy protocol. CoinGecko DEX API compatible. Requires no parameters.
      responses:
        '200':
          description: Array of ticker objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ticker'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  schemas:
    Error:
      type: object
      description: All API errors follow a consistent envelope.
      properties:
        error:
          type: string
          description: Error message describing what went wrong
      required:
      - error
    Ticker:
      type: object
      description: CoinGecko-compatible ticker for a DAO trading pair.
      properties:
        ticker_id:
          type: string
          description: Unique pair id in format {BASE_MINT}_{QUOTE_MINT}
        base_currency:
          type: string
          description: Base token mint address
        target_currency:
          type: string
          description: Quote token mint address
          typically USDC: null
        base_symbol:
          type: string
        base_name:
          type: string
        target_symbol:
          type: string
        target_name:
          type: string
        pool_id:
          type: string
          description: The DAO address
        last_price:
          type: string
        base_volume:
          type: string
          description: 24h volume in base token from protocol fees
        target_volume:
          type: string
          description: 24h volume in quote token from protocol fees
        liquidity_in_usd:
          type: string
        bid:
          type: string
        ask:
          type: string
      required:
      - ticker_id
      - base_currency
      - target_currency
      - pool_id
      - last_price
      - base_volume
      - target_volume
      - liquidity_in_usd
      - bid
      - ask
  responses:
    RateLimited:
      description: Rate limit exceeded (60 requests per minute per IP)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: An unexpected error occurred on the server
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
