openapi: 3.2.0
info:
  title: MetaDAO Futarchy DEX Meta API
  version: 1.0.0
  description: CoinGecko-compatible DEX API for the MetaDAO Futarchy protocol on Solana.
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated-from: https://api-docs.metadao.fi/llms.txt
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://market-api.metadao.fi
  description: Public production API
tags:
- name: Meta
  description: API information and health
paths:
  /:
    get:
      operationId: getApiInfo
      tags:
      - Meta
      summary: API information and available endpoints
      description: Returns API name, version, documentation link, and the map of available endpoints.
      responses:
        '200':
          description: API information
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  version:
                    type: string
                  documentation:
                    type: string
                  endpoints:
                    type: object
                    additionalProperties:
                      type: string
  /health:
    get:
      operationId: getHealth
      tags:
      - Meta
      summary: Health check endpoint for monitoring
      description: Returns service health status.
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
