openapi: 3.1.0
info:
  title: MetaDAO Futarchy DEX Meta Volume API
  version: 1.0.0
  description: CoinGecko-compatible DEX API for the MetaDAO Futarchy protocol on Solana. It automatically discovers and aggregates all DAOs from the Futarchy protocol and exposes real-time pricing, trading volume (derived from protocol fees), liquidity, and token supply information. The API is public and read-only, requires no authentication, and is rate limited to 60 requests per minute per IP. Prices are calculated from on-chain spot pool reserves only (not conditional/futarchy markets). This OpenAPI description was generated by the API Evangelist enrichment pipeline from the provider's published API documentation at https://api-docs.metadao.fi (the provider does not publish its own OpenAPI; the openapi.json served by the docs site is the default Mintlify sample). Endpoints, parameters, and response fields are transcribed faithfully from those docs.
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated-from: https://api-docs.metadao.fi/llms.txt
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://market-api.metadao.fi
  description: Public production API
tags:
- name: Volume
  description: Aggregate trading volume
paths:
  /api/volume/aggregate:
    get:
      operationId: getAggregateVolume
      tags:
      - Volume
      summary: Aggregate volume with daily breakdown for all DAO tokens
      description: Returns comprehensive trading volume for all DAO tokens since launch, including a daily breakdown and per-token totals.
      responses:
        '200':
          description: Aggregate volume
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeAggregate'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  responses:
    ServerError:
      description: An unexpected error occurred on the server
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded (60 requests per minute per IP)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: All API errors follow a consistent envelope.
      properties:
        error:
          type: string
          description: Error message describing what went wrong
      required:
      - error
    VolumeAggregate:
      type: object
      properties:
        totalVolume:
          type: string
          description: Total aggregate volume across all DAOs since launch (USD)
        dailyBreakdown:
          type: array
          items:
            type: object
            properties:
              date:
                type: string
                description: ISO 8601 date (YYYY-MM-DD)
              volume:
                type: string
              trades:
                type: number
        tokens:
          type: array
          items:
            type: object
            properties:
              mint:
                type: string
              symbol:
                type: string
              totalVolume:
                type: string
