openapi: 3.1.0
info:
  title: MetaDAO Futarchy DEX Meta API
  version: 1.0.0
  description: CoinGecko-compatible DEX API for the MetaDAO Futarchy protocol on Solana. It automatically discovers and aggregates all DAOs from the Futarchy protocol and exposes real-time pricing, trading volume (derived from protocol fees), liquidity, and token supply information. The API is public and read-only, requires no authentication, and is rate limited to 60 requests per minute per IP. Prices are calculated from on-chain spot pool reserves only (not conditional/futarchy markets). This OpenAPI description was generated by the API Evangelist enrichment pipeline from the provider's published API documentation at https://api-docs.metadao.fi (the provider does not publish its own OpenAPI; the openapi.json served by the docs site is the default Mintlify sample). Endpoints, parameters, and response fields are transcribed faithfully from those docs.
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated-from: https://api-docs.metadao.fi/llms.txt
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
- url: https://market-api.metadao.fi
  description: Public production API
tags:
- name: Meta
  description: API information and health
paths:
  /:
    get:
      operationId: getApiInfo
      tags:
      - Meta
      summary: API information and available endpoints
      description: Returns API name, version, documentation link, and the map of available endpoints.
      responses:
        '200':
          description: API information
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                  version:
                    type: string
                  documentation:
                    type: string
                  endpoints:
                    type: object
                    additionalProperties:
                      type: string
  /health:
    get:
      operationId: getHealth
      tags:
      - Meta
      summary: Health check endpoint for monitoring
      description: Returns service health status.
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
