openapi: 3.1.0
info:
  title: MetaDAO Futarchy DEX API
  version: 1.0.0
  description: >-
    CoinGecko-compatible DEX API for the MetaDAO Futarchy protocol on Solana. It
    automatically discovers and aggregates all DAOs from the Futarchy protocol
    and exposes real-time pricing, trading volume (derived from protocol fees),
    liquidity, and token supply information. The API is public and read-only,
    requires no authentication, and is rate limited to 60 requests per minute
    per IP. Prices are calculated from on-chain spot pool reserves only (not
    conditional/futarchy markets). This OpenAPI description was generated by the
    API Evangelist enrichment pipeline from the provider's published API
    documentation at https://api-docs.metadao.fi (the provider does not publish
    its own OpenAPI; the openapi.json served by the docs site is the default
    Mintlify sample). Endpoints, parameters, and response fields are transcribed
    faithfully from those docs.
  x-generated-by: api-evangelist-enrichment-pipeline
  x-generated-from: https://api-docs.metadao.fi/llms.txt
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
servers:
  - url: https://market-api.metadao.fi
    description: Public production API
tags:
  - name: Meta
    description: API information and health
  - name: Tickers
    description: DAO trading pairs, pricing, and volume
  - name: Supply
    description: Token supply breakdown and allocation
  - name: Volume
    description: Aggregate trading volume
paths:
  /:
    get:
      operationId: getApiInfo
      tags: [Meta]
      summary: API information and available endpoints
      description: Returns API name, version, documentation link, and the map of available endpoints.
      responses:
        '200':
          description: API information
          content:
            application/json:
              schema:
                type: object
                properties:
                  name: { type: string }
                  version: { type: string }
                  documentation: { type: string }
                  endpoints: { type: object, additionalProperties: { type: string } }
  /health:
    get:
      operationId: getHealth
      tags: [Meta]
      summary: Health check endpoint for monitoring
      description: Returns service health status.
      responses:
        '200':
          description: Service healthy
          content:
            application/json:
              schema:
                type: object
  /api/tickers:
    get:
      operationId: getTickers
      tags: [Tickers]
      summary: All DAO tickers with pricing and volume information
      description: >-
        Returns comprehensive trading information for all DAOs discovered in the
        Futarchy protocol. CoinGecko DEX API compatible. Requires no parameters.
      responses:
        '200':
          description: Array of ticker objects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Ticker'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
  /api/supply/{mintAddress}:
    get:
      operationId: getSupply
      tags: [Supply]
      summary: Complete supply breakdown with allocation details
      description: >-
        Returns complete supply information for a token, including circulating
        supply, team performance package, FutarchyAMM liquidity, and Meteora LP
        liquidity. For launchpad tokens, circulating supply excludes the team
        performance package but includes all liquidity.
      parameters:
        - $ref: '#/components/parameters/MintAddress'
      responses:
        '200':
          description: Supply breakdown
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplyResponse'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/supply/{mintAddress}/total:
    get:
      operationId: getTotalSupply
      tags: [Supply]
      summary: Total supply only
      description: Returns the total supply for a token as a formatted string.
      parameters:
        - $ref: '#/components/parameters/MintAddress'
      responses:
        '200':
          description: Total supply
          content:
            application/json:
              schema:
                type: object
                properties:
                  result: { type: string }
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/supply/{mintAddress}/circulating:
    get:
      operationId: getCirculatingSupply
      tags: [Supply]
      summary: Circulating supply (excludes team performance package)
      description: >-
        Returns the circulating supply for a token. Excludes the team
        performance package; includes FutarchyAMM and Meteora liquidity.
      parameters:
        - $ref: '#/components/parameters/MintAddress'
      responses:
        '200':
          description: Circulating supply
          content:
            application/json:
              schema:
                type: object
                properties:
                  result: { type: string }
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimited'
  /api/volume/aggregate:
    get:
      operationId: getAggregateVolume
      tags: [Volume]
      summary: Aggregate volume with daily breakdown for all DAO tokens
      description: >-
        Returns comprehensive trading volume for all DAO tokens since launch,
        including a daily breakdown and per-token totals.
      responses:
        '200':
          description: Aggregate volume
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VolumeAggregate'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  parameters:
    MintAddress:
      name: mintAddress
      in: path
      required: true
      description: The SPL token mint address (Solana PublicKey).
      schema:
        type: string
      example: METAwkXcqyXKy1AtsSgJ8JiUHwGCafnZL38n3vYmeta
  responses:
    NotFound:
      description: The requested resource does not exist
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    RateLimited:
      description: Rate limit exceeded (60 requests per minute per IP)
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: An unexpected error occurred on the server
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      description: All API errors follow a consistent envelope.
      properties:
        error:
          type: string
          description: Error message describing what went wrong
      required: [error]
    Ticker:
      type: object
      description: CoinGecko-compatible ticker for a DAO trading pair.
      properties:
        ticker_id: { type: string, description: 'Unique pair id in format {BASE_MINT}_{QUOTE_MINT}' }
        base_currency: { type: string, description: Base token mint address }
        target_currency: { type: string, description: Quote token mint address, typically USDC }
        base_symbol: { type: string }
        base_name: { type: string }
        target_symbol: { type: string }
        target_name: { type: string }
        pool_id: { type: string, description: The DAO address }
        last_price: { type: string }
        base_volume: { type: string, description: 24h volume in base token from protocol fees }
        target_volume: { type: string, description: 24h volume in quote token from protocol fees }
        liquidity_in_usd: { type: string }
        bid: { type: string }
        ask: { type: string }
      required: [ticker_id, base_currency, target_currency, pool_id, last_price, base_volume, target_volume, liquidity_in_usd, bid, ask]
    SupplyResponse:
      type: object
      properties:
        result: { type: string, description: The formatted total supply as a string }
        data:
          type: object
          properties:
            mint: { type: string }
            totalSupply: { type: string }
            circulatingSupply: { type: string }
    VolumeAggregate:
      type: object
      properties:
        totalVolume: { type: string, description: Total aggregate volume across all DAOs since launch (USD) }
        dailyBreakdown:
          type: array
          items:
            type: object
            properties:
              date: { type: string, description: ISO 8601 date (YYYY-MM-DD) }
              volume: { type: string }
              trades: { type: number }
        tokens:
          type: array
          items:
            type: object
            properties:
              mint: { type: string }
              symbol: { type: string }
              totalVolume: { type: string }
